<h1>products</h1>

<% @products.each do |product|%>
  <div>
    <h2><%= link_to product.name, product_path(product) %></h2>
    <p>Price: <%= product.price %></p>
    <p>In Stock: <%= product.stock %></p>
    <p>Description: <%= product.description %></p>
  </div>
<% end %>